.container {
    background-color: rgb(213, 225, 214);
    border-radius: 20px;
    margin:5% 35%;
    height: 683px;
    width: 500px;
    box-shadow: 20px 20px 20px #888686;
    padding: 20px;
}

#display {
    height: 200px;
    background-color: rgb(135, 202, 196);
    color: red;
    font-size: 30px;
    text-align: right;
    padding-right: 10px;
    line-height: 50px;
    border-radius: 20px;
    box-shadow: 20px 20px 20px #888686;
   
}

.buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.btn {
    margin: 2px;
    padding: 25px;
    text-align: center;
    font-size: 25px;
    border: 1px solid black;
    border-radius: 10px;
    cursor: pointer;
    user-select: none;
    box-shadow: 20px 20px 20px #888686;
}